@model MvcImage.Models.ImageModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ImageModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TableLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TableLink)
            @Html.ValidationMessageFor(model => model.TableLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecordStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecordStatus)
            @Html.ValidationMessageFor(model => model.RecordStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecordCreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecordCreatedDate)
            @Html.ValidationMessageFor(model => model.RecordCreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecordAmendedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecordAmendedDate)
            @Html.ValidationMessageFor(model => model.RecordAmendedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FileSize)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FileSize)
            @Html.ValidationMessageFor(model => model.FileSize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FileName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FileName)
            @Html.ValidationMessageFor(model => model.FileName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
