@model IEnumerable<MvcImage.Models.ImageModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            TableLink
        </th>
        <th>
            RecordStatus
        </th>
        <th>
            RecordCreatedDate
        </th>
        <th>
            RecordAmendedDate
        </th>
        <th>
            FileSize
        </th>
        <th>
            FileName
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TableLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordCreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordAmendedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UniqueId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UniqueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UniqueId })
        </td>
    </tr>
}

</table>
